.container
    .row
        .col-lg-4.me-auto.col12
            h5.mb-lg-4.mb-3 Contact me
            ul.list-group.list-group-flush
                li.list-group-item.d-flex
                    p Email: 
                        a(href="mailto:desplayshido@proton.me") desplayshido@proton.me
                li.list-group-item.d-flex
                    p Phone number: +84122312341
        .col-lg-5.col-md-6.ms-auto
            h4.mb-2 Socials
            ul.socical-icon.mb-lg-2
            a(href="https://www.facebook.com/desplay.shido/" target="_blank").social-icon-link.bi-facebook
            a(href="https://twitter.com/desplayshido" target="_blank").social-icon-link.bi-twitter
            a(href="https://discord.gg/Zt4rE6phBu" target="_blank").social-icon-link.bi-discord
            p.copyright-text Thank for:
                p.copyright-text Design by 
                    a(href="https://templatemo.com/" target="_blank")._parent TemplateMo
                p.copyright-text Distributed by 
                    a(href="https://themewagon.com/" target="_blank")._parent Themewagon