meta(charset = "utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0 ")
title Lobby
link(rel="icon" type="image/x-icon" href="./Template/images/quack.png")
link(href="./Templates/css/bootstrap.min.css" rel="stylesheet")
link(href="./Templates/css/bootstrap-icons.css" rel="stylesheet")
link(href="./Templates/css/owl.carousel.min.css" rel="stylesheet")
link(href="./Templates/css/owl.theme.default.min.css" rel="stylesheet")
link(href="./Templates/css/templatemo-medic-care.css" rel="stylesheet")
link(href="./Templates/css/sb-admin-2.min.css" rel="stylesheet")
link(href="./Templates/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet")
script(src="https://kit.fontawesome.com/61d3cc442f.js" crossorigin="anonymous")
