script(src="./Templates/js/jquery.min.js")
script(src="./Templates/js/bootstrap.bundle.min.js")
script(src="./Templates/js/owl.carousel.min.js")
script(src="./Templates/js/scrollspy.min.js")
script(src="./Templates/js/custom.js")
script(src="./Templates/js/sb-admin-2.min.js")
script(src="./Templates/vendor/jquery-easing/jquery.easing.min.js")
script(src="./Templates/vendor/datatables/jquery.dataTables.min.js")
script(src="./Templates/vendor/datatables/dataTables.bootstrap4.min.js")
script(src="./Templates/vendor/jquery/jquery.min.js")