.container-fluid#TablePatients
    .card.shadow.mb-4
        .card-header.py-3.d-flex.justify-content-between.align-items-center
            h4(class="m-0 font-weight-bold text-primary") Patients already moving to the doctor's room
            .my-2
                form(action="/queue-room/submit" role="form" id="form" name="form" method="post")
                    button(type="submit" id="submit-button").btn.btn-primary.btn-icon-split.form-control
                        span.text Put patients to doctor
                        span.icon.text-gray-600
                            i.fas.fa-arrow-right
        .card-body
            .table-responsive
                .dataTables_wrapper.dt-bootstrap4
                    .row
                        .col-sm-12
                            table(class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;")
                                thead
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                tfoot
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                tbody