.container-fluid#TablePatients
    .card.shadow.mb-4
        .card-header.py-3.d-flex.justify-content-between.align-items-center
            h4(class="m-0 font-weight-bold text-primary") Patients already moving to the doctor's room
            .my-2
            form(action="/queue-room/submit" role="form" id="form" name="form" method="post")
                button(type="submit" id="submit-button").btn.btn-primary.btn-icon-split.form-control
                    span.text Put patients to doctor
                    span.icon.text-gray-600
                        i.fas.fa-arrow-right
        .card-body
            .table-responsive
                .dataTables_wrapper.dt-bootstrap4
                    .row
                        .col-sm-12
                            table(class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;")
                                thead
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                tfoot
                                    tr
                                        th #
                                        th Name
                                        th Age
                                        th Gender
                                        th Time Add
                                        th Disease
                                        th Additional message
                                tbody
script(src="/socket.io/socket.io.js")
script.
    const socket = io();
    const refresh = (data) => {
        const table = document.getElementById("dataTable").getElementsByTagName("tbody")[0];
        if(data.length === 0) document.getElementById("TablePatients").style.display = "none";
        else document.getElementById("TablePatients").style.display = "block";
        table.innerHTML="";
        data.map((element, index) => {
            let Row = document.createElement("tr");

            let Number = document.createElement("td");
            Number.textContent = index + 1;

            let Name = document.createElement("td");
            Name.textContent = element.name;

            let Age = document.createElement("td");
            Age.textContent = element.age;

            let Gender = document.createElement("td");
            Gender.textContent = element.gender.value;

            let Date = document.createElement("td");
            Date.textContent = element.date;

            let Disease = document.createElement("td");
            Disease.textContent = element.disease.name;

            let Message = document.createElement("td");
            Message.textContent = element.message;

            Row.appendChild(Number);
            Row.appendChild(Name);
            Row.appendChild(Age);
            Row.appendChild(Gender);
            Row.appendChild(Date);
            Row.appendChild(Disease);
            Row.appendChild(Message);
            table.appendChild(Row);
        })
    }

    socket.on("syncQueueRoom", (data) => {
        refresh(data);
    })