doctype html
html(lang="en")
    head
        include Includes/Link Head
        title Queue Room
    body#top
        main
            nav.navbar.navbar-expand-lg.bg-light.fixed-top.shadow-lg
                .container
                    div.collapse.navbar-collapse
                        ul.navbar-nav.mx-auto
                            li.nav-item
                                a.navbar-brand.d-none.d-lg-block(href='/queue-room') Queue Room
                            li.nav-item
                                a.nav-link(href='/lobby') Lobby Room
            .container-fluid
                .row
                    each doctor in datadoctors
                        include Includes/Card Doctor
                include Includes/Table to Queue
                script(src="/socket.io/socket.io.js")
                script(src="/Client/queueRoom.sio.js")
    footer.site-footer.section-padding
        include Includes/Footer
include Includes/Script Tail